/* Step 2: Import the Reset */
@import url(./styles/reset.css);
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Indie+Flower&family=Josefin+Slab:wght@200&family=Montserrat+Alternates:wght@200&family=Quicksand&family=Raleway:wght@100&family=Satisfy&family=Unbounded:wght@300&family=Zen+Dots&display=swap');


/*index*/

#header {
    background-image: url(./images/piechart.png); /* image from unsplash - https://unsplash.com/@botanicalnature */
    background-size: cover;
    background-position:fill;
    height: 1000px;
    width: auto;
    background-repeat: no-repeat;
    
     
    
}





/* Main Navigation */
#mobile-view-menu {
    display: none;
}

#main-navbar {
    position: sticky;
    top: 0;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 999;
    font-size: 1.2em;
    font-family:Arial, Helvetica, sans-serif
}

#brand {
    width: 70px;
    margin-left: 2em;
    margin-right: 2em;
}

#pages-menu, #auth-menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#main-navbar a:not(#brand a), #main-navbar .collapse {
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 1em;
    text-decoration: none;
    transition: 0.5s;
}

#main-navbar a:not(#brand a):hover, #main-navbar .collapse:hover {
    color: white;
    background-color: #333;
}

.collapse {
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.collapse + ul {
    position: absolute;
    z-index: 1;
    top: -9999px;
    background-color: #333;
}

#main-navbar > .pages-menu-container > #pages-menu > li > .collapse + ul > li > a {
    color: #fff;
}

#main-navbar > .pages-menu-container > #pages-menu > li > .collapse + ul > li > a:hover {
    background-color: #FF1D25;
    color: #333;
}

#header-call-to-action {
    font-size: 75px;
    line-height: 2em;
    justify-content: left;
background-color:transparent;
    margin-top: 1em;
    color: #FF1D25;
}
#ctadonatehome {
    font-size: 75px;
    line-height: 2em;
    justify-content: left;
    margin-top: 1em;
    color: #FF1D25;
    text-decoration: none;
}

#h1-div {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 65px;
    background-color: #333;
    margin-bottom: 1em;
    
}

#main-main {
    height: 300px;
    background-color: #333;
    line-height: 3em;
    justify-content: center;
}

#main-h2 {
    font-family: 'satisfy', cursive;
    font-size: 45px;
    color: white;
    display: flex;
    justify-content:center;
    
   
}

#main-p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flex;
    color: white;
    justify-content: center;
    
}
/* this is the bottom of page call to action. */
#contact-link {
color: #FF1D25;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 15px; /*come back to this*/

justify-content: center;
display: flex;

}

#contact-link:hover{
font-size: 30px;  
}


footer {
    background-color:#333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    color: white;
}

#instagramlink {
    background-color:#333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    color: white; 
}



/* about */







#about-main {
    background-image: url(./images/woodpannelbackground.jpg);
   background-size: cover;
    }

    #about-h1-div {
        max-width: 1200px;
       margin: 0 auto;
       padding: 1em;
       margin-bottom: 2em;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       gap: 2em; 
       font-size:32pt;
       color:#4d443b;
      font-style: italic;
     
    }
#about-p {
    padding: 1em;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    font-size: 24pt;
    justify-content: center;
    color:#4d443b;

}
     #about-img img {
        width:500px;
        height: 500px;
        float: left;
        margin-right: 2em;
        margin-left: 2em;
        margin-top: 2em;
    }


/*programs*/

#programs-header {
background-color:#4281A4 ;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#programs-header h1 {
    justify-content: center;
    display: flex;
    color: #E4DFDA;
    width: 1200px;
    font-size: 3.4em;
    text-shadow: 1px 1px 1px black;
    padding: 1em;
    margin-bottom: 2em;
   margin-top: 2em;
   background-position:fill;
    background-image: url(./images/pawel-czerwinski-p80iCB-XpsU-unsplash.jpg)
}
#programs-header h2 {
    color: #E4DFDA;
    display: flex;
    justify-content: center;
    font-size: 2.1em;
    text-shadow: 1px 1px 1px black;
}

#programs-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em; 
}

#programs-content p {
    line-height: 1.5em;
    color: #4b4b4b;
    font-size: 1.2em;
}


#programs-img {
    
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
    
}

#programs-img img {
    width: 250px;
}

/* ASIDE */
aside {
    width: 30%;
    background-color:#dcdde1 ;
    display: flex;
    flex-direction: column;
    justify-content: right;  
}

aside h2 {
    font-size: 1.5em;
    height: 75px;
    padding: 1em;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: center;
}

aside ul {
    list-style: none;
    color: #4b4b4b;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

aside li:nth-child(odd) {
    background-color: whitesmoke;
}

aside li {
    padding: 1em;
    border-bottom: 1px solid #fff;
}

#main-programs {
    width: 65%;
    margin-top: 50px;
}

#programs-body {
    background-color: #4281A4;
}

/*JOIN THE TEAM*/

#join-main {
    background-color: orange;
}

#join-h1{
    justify-content: center;
    text-align: center;
    display: flex;
    color: #E4DFDA;
    width: 1600px;
    font-size: 3.4em;
    text-shadow: 1px 1px 1px black;
    padding: 1em;
    margin-bottom: 2em;
    margin-top: .5em;
   background-position:fill;
    background-image: url(./images/tilebackground.jpg);

}

#join-form {
    display:inline-table;
    justify-content: center;
    padding: 2em;
    font-size: 15pt;
    margin-left: 33em;
    
}
.required {
    font-size: 10pt;
    color: #FF1D25;
}

#join-content {
    text-align: center;
    font-size: 24px;
    padding: 2em;
}